span#search-query {
    width: 12em;
}

/*
custom colors
*/

#top {
    background: #848382;
    border-bottom: 1px #000 solid;
}

#top #cssmenu > ul > li > ul
{
    background: #848382;
    border: 1px solid #181829;
}

#top a:hover, #top #cssmenu li.open > a, #top #cssmenu li.active > a {
    background: #181829;
}

a, .question, .expand-toggle {
    color: #116;
}

a:hover, .question:hover, .expand-toggle:hover {
    color: #181829;
}

.d_decl {
    border-left: 5px solid #181829;
}

h1, h2, h3, h4, h5, h6
{
    font-weight: normal;
    line-height: normal;
    text-align: left;
    margin: 0.2em 0 0.1em;
}
